* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
    background: transparent;
}
body {
	font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
}
.zip-container {
	width: 40%;
	height: 100%;
	margin: 40px auto;
	padding: 10px 20px;
	background-color: #fafafa;
	text-align: center;
    border: 2px solid #efefef;
}
header {
    margin: 20px 0;
}
#logo-title img {
	width: 160px;
}
.input-form {}
.input-form h2 {
	margin: 10px 0;
}
.results {
    height: 100%;
    min-height: 150px;
	margin: 10px 0 40px;
}
#subbtn,
#location {
	background-color: #3aa0e3;
	color: #fff;
	padding: 5px 10px;
	border: 2px solid #2a90d3;
	text-transform: uppercase;
}
#subbtn:hover,
#location:hover {
	opacity: 0.8;
    cursor: pointer;
}
#textfield {
	padding: 5px;
	background-color: #fff;
	border: 2px solid #ddd;
}
#weather-result span, 
#input-result span,
.bolder {
    font-weight: 500;
}
#error {
	margin: 15px 0;
	color: #ff495a;
	font-weight: 900;
	font-size: 80%;
}